<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test3.android.project"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />
   
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>

    <application
        android:icon="@drawable/ic_launcher"
         android:debuggable="true">
          <uses-library android:name="com.google.android.maps"/>
          
       <activity
            android:name="iRoute.android.IRouteActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				
                <category android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
        </activity>
        
       <activity
            android:name="iRoute.android.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
       <activity android:name="iRoute.android.IRouteActivity" />
       <activity android:name="iRoute.android.RoutesView" />
       <activity android:name="iRoute.android.MyTable" />
       <activity android:name="iRoute.android.MapRouteActivity" />
    </application>

</manifest>